<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="notebar" *ngIf="hide" (click)="hide=false" >
        <mat-card-title class="title">
            Take a Note...
        </mat-card-title>
        <mat-card-subtitle class="icons">
            <mat-icon mat-list-icon>check_box</mat-icon>
            <mat-icon mat-list-icon>brush</mat-icon>
            <mat-icon mat-list-icon>crop_original</mat-icon>
        </mat-card-subtitle>
    </mat-card>
    <mat-card class="card" *ngIf="hide==false"[formGroup]="NoteForm">
        <div class="titlerow">
            <mat-card-title class="noteTitle" >
                <textarea cdkTextareaAutosize placeholder="Title" class="noteTitle" formControlName="title"></textarea>
            </mat-card-title>
            <mat-card-subtitle class="icon" >
                <button mat-icon-button>
                    <mat-icon mat-list-icon style="color:#767676 ;">push_pin</mat-icon>
                </button>
            </mat-card-subtitle>
        </div>
        <div class="description" style="padding-top:10px ;">
            <mat-card-title class="description">
                <textarea cdkTextareaAutosize placeholder="Take a note..." class="notedescription" formControlName="description"></textarea>
            </mat-card-title>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between end">
            <div fxFlex="70">
               <app-icon></app-icon>
            </div>
            <div>
                <button mat-icon-button (click)="onClose();" >Close</button>
            </div>
         </div>
    </mat-card>
</div>