<div class="icon" *ngIf="!isTrashComponent">
    <div class="icons">
        <button mat-icon-button>
            <mat-icon mat-list-icon [matMenuTriggerFor]="reminderMenu">add_alert
            </mat-icon>
            <mat-menu #reminderMenu="matMenu" class="reminderBox">
                <button mat-menu-item [disabled]="true">Reminder</button>
                <button mat-menu-item *ngFor="let rem of reminders;let i=index">
                    <span>{{rem.Text}}</span>
                    <span style="color:#9DBDE1">{{rem.Time}}</span>
                </button>
            </mat-menu>
        </button>
        <button mat-icon-button>
            <mat-icon mat-list-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="colorPallete">
            <mat-icon mat-list-icon>color_lens</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon mat-list-icon>image</mat-icon>
        </button>
        <button mat-icon-button >
            <mat-icon mat-list-icon *ngIf="!isArchive" (click)="archiveNote()">archive</mat-icon>
            <mat-icon mat-icon *ngIf="isArchive" (click)="unArchive()">unarchive</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="Moremenu">
            <mat-icon mat-list-icon>more_vert</mat-icon>
            <mat-menu #Moremenu="matMenu" class="moreOption">
                <button mat-menu-item>add Label</button>
                <button mat-menu-item (click)="DeleteNote()">Delete Note</button>
            </mat-menu>
        </button>
    </div>
</div>
<div *ngIf="isTrashComponent"  fxLayout="row" >
    <button mat-icon-button matTooltip="Delete forever" (click)="deleteForever()">
        <mat-icon>delete_forever</mat-icon>
    </button>

    <button mat-icon-button style="margin-left: 20px;" matTooltip="Restore" (click)="restore()">
        <mat-icon>restore_from_trash</mat-icon>
    </button>
</div>
<mat-menu #colorPallete="matMenu" yPosition="above">
    <div class="colorbox">
        <span class="colors" (click)="ChangeColor(colors[i].color)" [style.background-color]="colors[i].color" *ngFor="let color of colors;let i=index" >
            <mat-icon mat-list-icon *ngIf="colors[i].icon">done</mat-icon>
        </span>
    </div>
</mat-menu>