.Container{   
    margin-top: 30px;
    margin-bottom: 30px; 
    border-radius: 5px;
    border: 1px solid darkgrey; 
    padding: 3%;    
}

.name{
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 2;
}
.submit{
    background: #1A73E8;
     color:white;
     margin-left: 270px;
}
@media only screen and (max-width: 599px) {
    .Container{
        border: none;
    }

    .submit{
        background: #1A73E8;
         color:white;
         margin-left: -180px;
         margin-top: 100px;
    }
}

@media screen and (max-width:800) {
    .Container{
        padding :5px;
    }
    
}