<div fxLayoutAlign="center center" fxFlex.xs=100>
    <div class="Container" fxFlex.xs=80 >
        <div class="name" fxLayoutAlign="center center" (ngSubmit)="onSubmit()">
            <span style="color: #4285F4;">F</span>
            <span style="color: #EA4335;">u</span>
            <span style="color: #FBBC05;">n</span>
            <span style="color: #4285F4;">d</span>
            <span style="color: #34A853;">o</span>
            <span style="color: #EB4E41;">o</span>
        </div>

        <div fxLayoutAlign="center center">
            <h1 class="name"> Reset Your Password</h1>
        </div>
        <div fxLayoutAlign="center center">
            <h3> Enter The Password</h3>
        </div>
        
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >
            <div fxLayoutAlign="center center">
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error>Enter Valid Emial</mat-error>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="center center">
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" formControlName="password">
                    <mat-error>Enter new password</mat-error>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="center center">
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error>Enter confirm password</mat-error>
                </mat-form-field>
            </div>
          

            <div style="margin-top: -10px;">
                <mat-hint >Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
            </div>

            <div>
                <mat-checkbox id="showPassword" >Show Password</mat-checkbox>
            </div>
            
            <div fxLayoutGap="200px" style="margin-top: 20px;">
                <button mat-raised-button class="submit" type="submit">Submit</button>
            </div> 
        </form>   


    </div>
</div>

