<div fxLayoutAlign="center center" fxFlex.xs=100>
    <div class="registerContainer" fxFlex.xs=90 >
        <div class="name" fxLayoutAlign="center center">
            <span style="color: #4285F4;">F</span>
            <span style="color: #EA4335;">u</span>
            <span style="color: #FBBC05;">n</span>
            <span style="color: #4285F4;">d</span>
            <span style="color: #34A853;">o</span>
            <span style="color: #EB4E41;">o</span>
        </div>

        <div fxLayoutAlign="center center">
            <h1 class="name"> Sign in</h1>
        </div>
        <div fxLayoutAlign="center center">
            <h3> Use Your Fundoo Account</h3>
        </div>
        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div fxLayoutAlign="center center">
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Email or Phone</mat-label>
                    <input matInput placeholder="Email or Phone" formControlName="email">
                    <mat-error>Enter email</mat-error>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="center center">
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password">
                    <mat-error>Enter password</mat-error>
                </mat-form-field>
            </div>
        
            <div>
                <button mat-button style="color: #1A73E8;" routerLink='/forgetemail'>Forget email?</button>
            </div>

            <div>
                <button mat-button style="color: #1A73E8;">Forget password?</button>
            </div>

            <div style="margin-top: 20px; margin-left: 15px;">
                <mat-hint > Not your computer? Use Guest mode to sign in privately.</mat-hint>
            </div>
        
            <div fxLayout="column" fxLayoutAlign="start start">
                <button mat-button style="color: #1A73E8;">Learn more</button>
            </div>

            <div fxLayoutGap="200px" style="margin-top: 20px;">
                <button mat-button style="color: #1A73E8;" routerLink='/register'>Create New Account</button>
                <button mat-raised-button style="background: #1A73E8; color:white;" type="submit">Next</button>
            </div>     
        </form>     

    </div>
</div>
