<div fxLayoutAlign="center center" fxFlex.xs=100>
    <div class="Container">
        <div class="name" fxLayoutAlign="center center">
            <span style="color: #4285F4;">F</span>
            <span style="color: #EA4335;">u</span>
            <span style="color: #FBBC05;">n</span>
            <span style="color: #4285F4;">d</span>
            <span style="color: #34A853;">o</span>
            <span style="color: #EB4E41;">o</span>
        </div>

        <div fxLayoutAlign="center center">
            <h1 class="name"> Find your email</h1>
        </div>
        <div fxLayoutAlign="center center">
            <h3> Enter your phone number or recovery email</h3>
        </div>
        

        <div fxLayoutAlign="center center" fxFlex.xs=100>
            <mat-form-field appearance="outline">
                <mat-label>Phone number or email</mat-label>
                <input matInput placeholder="Phone number or email">
            </mat-form-field>
        </div>

        <div fxLayoutGap="200px" style="margin-top: 20px;">
            <button mat-raised-button class="submit">Submit</button>
        </div>          

    </div>
</div>